.App {
  text-align: center;
  margin:0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #005B41;
  margin: 0 auto;
  padding: 2rem;
  color: #E3F4F4;
  font-size: 1rem;
}
.navbar h1{
  font-size: 3rem;
}

.quantum-label{
  padding: 1rem;
  font-weight: bold;
}

.novo-processo {
  display: inline-block;
  text-align: right;
}

.novo-processo-title {
  text-align: center;
}
.novo-processo-label {
  padding: 1rem;
}

